<div class="container">

    <select class="select" [formControl]="selectedBreed">
      <option value=''>Show all dogs!</option>
      <option *ngFor="let dog of breeds$ | async"> {{dog.name}} </option>
    </select>
    <button class="btn" (click)="onReverse()">Reverse</button>

  <ul>
    <li *ngFor="let breed of filteredBreeds$ | async">
      {{breed.name}}
      <ul *ngIf="breed.types.length">
        <li  *ngFor="let subtypes of breed.types;">{{subtypes}} </li>
      </ul>
    </li>
  </ul>
</div>





